@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
  

  body {
    font-family: 'EB Garamond', serif;
    background-color: #cdcfc0; 
    background-image: url('login_bg.png'); 
    background-size: cover;
  }

  .login-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
  }

  .login-box {
    background-color: #f1ebe5;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    border: 1px solid #423f32;
    text-align: center; 
  }

  .login-input {
    border: 1px solid #423f32;
    background-color: #f1ebe5;
    padding: 10px 15px; 
    margin-bottom: 1rem;
    width: calc(100% - 30px); 
    border-radius: 8px;
    font-size: 16px; 
  }

  .toggle-password {
    font-family: 'Cormorant Garamond', serif;
    color: #423f32;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  
  .login-button {
    font-family: 'Cormorant Garamond', serif;
    background-color: #cdcfc0;
    border: 1px solid #423f32;
    padding: 5px 10px;
    margin-bottom: 1rem;
    width: 40%;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }

  .login-button:hover,
  .login-button:active {
    background-color: #B5B6AC;
    border-color: #423f32;
  }

  .back-button-login {
    font-family: 'Cormorant Garamond', serif;
    background-color: #676767;
    color: #fff;
    border: none;
    padding: 15px 35px;
    border-radius: 20px;
    font-size: 16px;
    position: absolute;
    bottom: 50px;
    left: 150px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
  }

  .back-button-login:hover {
    background-color: #575757;
  }

  .icon-text {
      background: url('login_title.png') no-repeat center center;
      width: 100%; 
      height: 100px; 
      text-indent: -9999px;
      margin-bottom: 2rem; 
    }